<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/cadastro.css">
  <title>Cadastro</title>
</head>
<body>
  <main>
    <form action="" method="post">
      <fieldset>
        <legend>Cadastro</legend>
        
        <div class="input-group">
          <input type="text" id="usuario" name="usuario" placeholder=" " required>
          <label for="usuario">Digite seu usuário</label>
        </div>
        
        <div class="input-group">
          <input type="text" name="nome" id="nome" placeholder=" " required>
          <label for="nome">Digite seu nome</label>
        </div>
        
        <div class="input-group">
          <input type="text" name="sobrenome" id="sobrenome" placeholder=" " required>
          <label for="sobrenome">Digite seu sobrenome</label>
        </div>
        
        <div class="input-group">
          <input type="text" name="cpf" id="cpf" placeholder=" " required>
          <label for="cpf">Digite seu CPF</label>
        </div>
        
        <div class="input-group">
          <input type="email" name="email" id="email" placeholder=" " required>
          <label for="email">Digite seu email</label>
        </div>
        
        <div class="input-group">
          <input type="password" name="senha" id="senha" placeholder=" " required>
          <label for="senha">Digite sua senha</label>
        </div>
        
        <div class="input-group">
          <input type="password" name="confirmarSenha" id="confirmarSenha" placeholder=" " required>
          <label for="confirmarSenha">Confirme sua senha</label>
        </div>
        
        <div>
          <button type="submit">Cadastrar</button>
        </div>
      </fieldset>
    </form>

    <section>
      <p>
        Já tem cadastro?
        <a href="../html/login.html">Faça login</a>
      </p>
      <p>
        Esqueceu a senha?
        <a href="recuperar_senha.html">Recuperar senha</a>
      </p>
    </section>
  </main>

  <footer>
    <p>&copy; 2025 Sua Empresa. Todos os direitos reservados.</p>
  </footer>
</body>
</html>
