<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="">
        <div>
            <div><label for="Email">Email</label></div>
            <div>
                <input type="email" name="email" placeholder="seu@email.com" required>
            </div>
        </div>
        <div>
            <div><label for="senha">Senha</label></div>
            <div>
                <input type="password" name="senha" placeholder="Senha" required>
            </div>
        </div>
        <div>
            <button type="button">Recuperar senha</button>
        </div>
        <div>
            <button type="button">Entrar</button>
        </div>
        <div>
            <button type="button">Registrar</button>
        </div>
    </form>
</body>
</html>