<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/view/css/reset.css">
  <link rel="stylesheet" href="/view/css/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <title>Inicial</title>
</head>
<body>

  <header>
      <nav>
        <div id="img_header">
          <a href="index.html"><img src="/utils/img/farmacia.png" alt="Logo do site"></a>
        </div>

        <ul id="nav_list">
          <li class="nav_item active"><a href="">Inicio</a></li>
          <li class="nav_item"><a href="">Contato</a></li>
          <li class="nav_item"><a href="">Sobre nós</a></li>
          <div class="nav_item_login" id="login_cadastro">
            <a href="/view/html/autenticacao/login.html">Login/Cadastro</a>
          </div>    
        </ul>
        
        <button id="mobile_btn">
            <i class="fa-solid fa-bars"></i>
          </button>
      </nav>

      <div id="mobile_menu">
          <ul id="mobile_navlist">
            <li class="nav_item"><a href="">Inicio</a></li>
            <li class="nav_item"><a href="">Contato</a></li>
            <li class="nav_item"><a href="">Sobre nós</a></li>
            <div class="nav_item_login" id="login_cadastro_mobile">
              <a href="/view/html/autenticacao/login.html">Login/Cadstro</a>
            </div>    
        </ul>
      </div>
  </header>

  <main>
      <section>

      </section>
  </main>

  <footer>
  </footer>
  <script src="/view/js/index.js"></script>
</body>
</html>