<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/view/css/reset.css">
    <link rel="stylesheet" href="/view/css/autenticacao/recuperar_senha.css">
    <title>Recuperar Senha</title>
  </head>
  <body>
    <main>
      <form action="/recuperarsenha" method="POST">
        <fieldset>
          <legend>Recuperar</legend>
          <div class="input-group">
            <input type="email" id="email" name="email" placeholder=" " required>
            <label for="email">Digite seu email</label>
          </div>
          <div class="input-group">
            <input type="password" id="nova_senha" name="nova_senha" placeholder=" " required>
            <label for="nova_senha">Nova senha</label>
          </div>
          <div class="input-group">
            <input type="password" id="confirmar_senha" name="confirmar_senha" placeholder=" " required>
            <label for="confirmar_senha">Confirmar senha</label>
          </div>
          <div>
            <button type="submit">Alterar senha</button>
          </div>
        </fieldset>
      </form>
      <section>
        <p>
          Lembrou sua senha?
          <a href="login.html">Voltar para login</a>
        </p>
      </section>
    </main>
    <footer>
      <p>&copy; 2025 Sage Assistent. Todos os direitos reservados.</p>
    </footer>
  </body>
</html>
